[submodule "HipsterTechnologies.API/HipsterTechnologies.API.Routes/Client"]
	path = HipsterTechnologies.API/HipsterTechnologies.API.Routes/Client
	url = https://github.com/kristenmills/hipster-technologies
